
.label {
    -fx-font: bold 20pt "lucida console";
}

#Breakout {
    -fx-background-color: antiquewhite;
}

.Brick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: butt;
}

.Ball {
    -fx-stroke: black;
}